<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:allowBackup="false"
        android:label="WX Hide LSP"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true"
        android:usesCleartextTraffic="false">

        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="Hide selected WeChat conversations/contacts on local UI only." />
        <meta-data android:name="xposedminversion" android:value="82" />

        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity
            android:name=".ConfigActivity"
            android:exported="true" />

        <activity-alias
            android:name=".LauncherActivity"
            android:enabled="true"
            android:exported="true"
            android:label="WX Hide LSP"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <receiver
            android:name=".StatusReceiver"
            android:exported="true" />

        <provider
            android:name=".ConfigProvider"
            android:authorities="net.sockc.wxhide.provider"
            android:exported="true" />
    </application>
</manifest>
